@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400&family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400&family=Dancing+Script:wght@700&family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400&family=Dancing+Script:wght@700&family=Nova+Mono&family=Oswald:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
label{
    cursor: pointer;
}
.home{
    background:url(assets/gbg3.jpg);
    
    
    background-attachment: fixed;

    background-size:cover;
    animation: AnimateBG 20s ease
    infinite;
}

    @keyframes tilt-shaking {
        0% { transform: rotate(0deg); }
        25% { transform: rotate(5deg); }
        50% { transform: rotate(0eg); }
        75% { transform: rotate(-5deg); }
        100% { transform: rotate(0deg); }
      }




    /* -webkit-animation-duration: 10s;
     animation-duration: 10s;
      -webkit-animation-fill-mode: both;
       animation-fill-mode: both; }
        @-webkit-keyframes shake
         { 0%, 100% {-webkit-transform: translateX(0);}
          10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
           20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
         } @keyframes shake { 0%, 100% {transform: translateX(0);}
          10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
          20%, 40%, 60%, 80% {transform: translateX(10px);} }
.shake { -webkit-animation-name: shake; animation-name: shake; } */
        
       
.work{
    background:linear-gradient(rgba(0, 0, 0, 0.245),rgba(0, 0, 0, 0.034)  ),url(assets/bg4.jpg);    
    background-attachment: fixed;
   background-position: 50%;
    background-size:cover;
}
header{
    background-color: black;
    color: white;
    height: 80px;
    width: 100%;
}
header label{
    font-size: 40px;
    font-family: cormorant sc;
}
header ul{
    float: right;
    display: flex;
    list-style: none;
    padding: 20px;
}
header ul li{
    padding: 20px;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 10px;
}
body{
    
    
}
.main h1{
    color: white;
    font-size: 80px;
}
.main {
    color: white;
    font-size: 30px;
    margin-left: 5%;
    margin-top: 10%;
}
.active{
    font-weight: bold;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
}
.main_work h1{
    color: white;
    text-align: center;
    margin: 20px;  
    font-family: cormorant sc;
}
.cards button{
    height: 100px;
    width:200px;
    margin: 20px;
    background-color: black;
    box-shadow: rgb(255, 255, 255) 2px 2px 5px,
                        -2px -2px 5px;
    border-radius: 10px;
    

}
.cards button a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
    color: white;
    font-family: cormorant sc;
}
.home_foot{
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
}
h3{
    margin-top: 10px;
}
.work_foot{
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    position: cover;
    bottom: 0;
}
.work_foot h3{
    margin-top: 20px;
}
.about{
    color: black;
    background-color: white;
    margin: 20px;
    /* border: solid black  3px; */
    font-family: oswald;
    border-radius: 20px;
    box-shadow: inset white 2px 2px 5px 5px;

    box-shadow: rgb(255, 255, 255) 2px 2px 5px 5px;

}
.about h3{
    margin: 10px;
}
.about p{
    font-size: 15px;
    margin: 10px;
}
.about img{
    float: right;
    margin: 20px;
    border-radius: 50px;
}